{% extends "base.html" %}

{% block content %}
<div class="header">
    <h1>Управление опросами</h1>
    <div>
        <a href="{{ url_for('new_survey') }}"><button>Создать новый опрос</button></a>
        <a href="{{ url_for('index') }}"><button>На главную</button></a>
    </div>
</div>

<ul class="survey-list">
    {% for survey in surveys %}
        <li class="survey-item">
            <h3>{{ survey.title }}</h3>
            <div>
                <a href="{{ url_for('survey_results', survey_id=survey.id) }}">
                    <button>Результаты</button>
                </a>
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock %} 